.background {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.background-black{
    background: black;
    color: aliceblue;
}
/* vidoe som bakgrund */
 .video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* gör att videon fyller hela ytan*/
  z-index: -1; /*skickar videon bakom allt innehåll  */
}
.video-bg-hidden{
  display: none;
  width: -100%;
  height: -100%;
}
#quiz {
    /* color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
  /* color: aliceblue; */
  position: relative;
  text-align: center;
  font-size: Arial, sans-serif;
  font-size: 2rem;
  padding: 20px;
}
#starBtn{
  background: none;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  margin-left: 30%;
  font-size: 30px;
}

#new_Game {
  /* color: aliceblue; */
  background: none;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  margin-left: 30%;
  font-size: 20px;
}
#next {
  /* color: aliceblue; */
  background: none;
}
#back {
  /* color: aliceblue; */
  background: none;
}
.container {
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(200px);
  width: 500px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}
#mode{
    display: flex;
    margin-left: auto;
    border-radius: 10px;
}
.question{
  /* color: aliceblue; */
}
.light-mode button{
  color: black;
  background: white;
}
.dark-mode button{
  color: white;
  background: black;
}